<!DOCTYPE HTML>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes"><!-- try to force full-screen for apple devices -->

	<meta http-equiv="Cache-Control" content="max-age=3600">
	<meta http-equiv="Pragma" content="no-cache">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link rel="shortcut icon" href="img/favicon.ico" >

	<link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">

	<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

	<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">

	<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

	<title>Authorly - Turns Books Into Apps</title>
	<meta name="description" content="Turn your children's book into a beautiful, interactive app. Try it for free now.">
	<meta name="keywords" content="children's books, interactive apps, digital stories, app builder, android, kindle fire, apple">
	<meta name="rating" content="General" />
	<link rel="icon" type="image/x-icon" href="images/favicon.ico">

	<link rel="stylesheet" href="css/print.css" media="print">
	<link rel="stylesheet" href="css/style.css" media="screen">

	<!--[if gte IE 9]>
	<style type="text/css">
		.gradient {
		filter: none;
	}
	</style>
	<![endif]-->
</head>
<body>
	<div id="vignette"></div>
	<header>
		<h1><a href="http://www.authorly.com">Authorly</a></h1>
		<nav>
			<a class="menubtn" href="#menu">Menu</a>
			<ul>
				<li><a class="menu_how" href="how-it-works.html">How It Works</a></li>
				<li><a class="menu_feat" href="features.html">Features</a></li>
				<li><a class="menu_about" href="about.html">About Us</a></li>
				<li>
					<div class="fb-like" data-href="http://facebook.com/authorly" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>
				</li>
				<li><a class="menu_log_in" href="signup.html">Sign Up</a></li>
				<li><a class="menu_sign_in" href="http://beta.authorly.com">Sign In</a></li>
			</ul>
		</nav>
		<span class="shadow sh_top"></span>
		<span class="bookshelf shelf_top"></span>
	</header>
	<div class="splash">
		<span class="ipad sp_ipad">
			<h2><span class="ipad_txt_big">your</span><br><span class="ipad_txt_app">app</span> here</h2>
			<a href="signup.html" class="create_app_btn">Create App!</a> 
			<span class="free_ribbon"></span>
			<span class="ipad_glare"></span>
		</span>
		<span class="sp_kindle"></span>
		<span class="sp_mobile"></span>
		<span class="sp_book_opened"></span>
		<span class="shadow th_shad"></span>
		<span class="bookshelf shelf_bottom th_shelf"></span>	
	</div>
<div class="books_showcase">
	<span class="book_btn">Click on a book!</span>


	<ul class="books">
		<li class="book1">
			<img src="uploads/saphirebook_small.jpg">
		</li>
		<li class="book2 comic_book">
			<img src="uploads/plush_01.jpg">
		</li>
		<li class="book3">
			<img src="uploads/sitwcover_small.jpg">
		</li>
		<li class="book4 comic_book">
			<img src="uploads/plush_02.jpg">
		</li>
		<li class="book5">
			<img src="uploads/fsitw_cover3_small.jpg">
		</li>
	</ul>
	<span class="shadow th_shad"></span>
	<span class="bookshelf shelf_bottom th_shelf"></span>
</div>
	<div class="ipad ipad_showcase">
		<div id="video" style="width: 580px; height: 385px;"></div>
		<a class="close_btn play_btn" href="#video_play">Play video</a>
		<span class="ipad_glare"></span>
		<a class="close_btn close_ipad">Close showcase window</a>
	</div>
<div class="cover">
	<div id="content">
		<div class="pages pleft"></div>
		<div class="pages pright"></div>
		<div class="pagination pagleft">4</div>
		<div class="pagination pagright">5</div>
		<div class="column lcol">
			<h1 class="superH">Chapter 1: Getting Started</h1>
			<article>
				 <a class="try_button" href="signup.html">Try Authorly for free now!<img src="images/try_button2.png" alt="Try authorly button"></a>
			 </article>
			 <article class="ornament_ending">
			 	<h2>Build Beautiful Apps</h2>
				<img src="images/triple_img.png" alt="Build Beautiful Apps">
				<p>Interactive features engage readers like never before.</p>
			</article>
		</div>
		<div class="column rcol">
			<article class="ornament_ending">
				<h2>No Code, No Problem</h2>
				<img src="images/no_code_img.png" alt="No Code, No Problem">
				<p>Retell your story digitally without the help of a computer genius.</p>
			</article>
			<article class="ornament_ending">
				<h2>Authorly Publishes Everywhere</h2>
				<img src="images/publish_img.png" alt="Authorly Publishes Everywhere">
				<p>Create and publish your app to Android, Apple, and Kindle Fire markets.</p>
			 </article>
		</div>
		<div class="cleaner"></div>
	</div>
</div>
<footer>
	<ul id="footer_nav">
	<li><a href="blog/index.php" target="_self">Blog</a>&nbsp;|&nbsp;</li>
	<li><a href="about.html" target="_self">Contact</a>&nbsp;|&nbsp;</li>
	<li><a href="faq.html" target="_self">FAQ</a>&nbsp;|&nbsp;</li>
	<li><a href="press-kit.html" target="_self">Press</a>&nbsp;|&nbsp;</li>
	<li><a href="tos.html" target="_self">Terms of Service</a>&nbsp;|&nbsp;</li>
	<li><a href="privacy_policy.html" target="_self">Privacy Policy</a></li>
	</ul>
	<a class="home_icon" href="http://www.authorly.com">Back to the main page</a>
</footer>
<div id="fb-root"></div>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/modernizr.js"></script>
<script type="text/javascript" src="http://popcornjs.org/code/dist/popcorn-complete.min.js"></script>
<!--[if lt IE 9]>
<script src="js/html5shiv.js" type="text/javascript"></script>
<![endif]-->
<script type="text/javascript" src="js/analytics"></script>
<script type="text/javascript" src="js/functions.js"></script>
<script type="text/javascript" src="js/facebook.js"></script>
<script type="text/javascript" src="js/snapengage.js"></script>
</body>
</html>
